<div class="theme-light">

  <h2>Date Pipe: {{todaysDate | date:'short'}}</h2>
  <h2>{{'Hello Pipe' | greetingPipe}}</h2>

  <img [src]="itemImageUrl">
  <div [style]="{
    width:'50px',
    height:'50px',
    background:'yellow',
    margin:'50px'
  }"> Style Binding</div>

  <app-sizer [(size)]="fontSizepx"></app-sizer>
  <div [style.font-size.px]="fontSizepx">Resizable text</div>

  <p [appHighlight] = "'red'">appHighlight test</p>

  <app-hello-world></app-hello-world>
  <app-parent  class="active">
    <p question>ng-content, question</p>
    <p answer>ng-content, answer</p>
  </app-parent>
  <button (click)="toggleText($event)">Toggle Text</button>
  {{showText}}

  <router-outlet></router-outlet>

</div>

<!-- template driven form-->
<div [hidden]="submitted" [style.margin.px]="60">
  <p>{{model | json}}</p>
  <form #petForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input 
        type="text" 
        id="name" 
        name="name" 
        [(ngModel)]="model.name"
        required>
    </div>
    <div>
      <label for="specie">Specie</label>
      <select id="specie" required [(ngModel)]="model.specie" name="specie">
        <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!petForm.form.valid">Submit </button>
  </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted</h2>
  <p>Name:{{model.name}}</p>
  <p>specie:{{model.specie}}</p>
  <button (click)="submitted=false">Edit</button>
</div>

<!-- reactive form-->
<div [style.margin.px]="60">
  <label for="reactiveFormName">Name:</label>
  <input id="reactiveFormName" type="text" [formControl]="reactiveFormName">
  <p>Value: {{reactiveFormName.value}}</p>
  <button (click)="updateFormName()">Update</button>
</div>

<!-- reactive form   FormGroup-->
<form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()" [style.margin.px]="60">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName"/>
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName"/>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
